<%- include("../partials/header") %>
<div class="my-7">
  <button class="mr-2 p-2 text-lg bg-green-500 rounded">add new game</button>
  <button class="mx-2 p-2 text-lg bg-red-500 rounded">add new developer</button>
  <button class="mx-2 p-2 text-lg bg-red-500 rounded">add new genre</button>
</div>
<%- include("../partials/footer") %>
